<!DOCTYPE html>
<html>
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="..\static\CSS\style.css ">
    </head>
<body  class="text-purple-700 bg-white-50  ">
    
    <!--Nav Bar-->
    <div class="p-4">
        <nav class="bg-purple-600 text-purple-100 border-b border-purple-100 shadow-lg p-2 rounded-lg ">
            <div class="container mx-auto">
                <div class="sm:flex justify-around">
                    <a  href="#" class=" flex justify-start text-lg uppercase font-bold pr-80">Project Table</a>
               
                <ul class="sm:self-center sm:border-none">
                  
                <div class="pl-80 ">
                    <li class="sm:inline-block hover:bg-red-500 rounded p-1"><a href="index.html" class="ml-2">Home</a></li>
                    <li class="sm:inline-block hover:bg-red-300 rounded p-1"><a href="Login.html" class="ml-2">Log in</a></li>
                    <li class="sm:inline-block hover:bg-red-300 rounded p-1"><a href="SignUp.html" class="ml-2">Sign Up</a></li>
                    <li class="sm:inline-block hover:bg-red-300 rounded p-1"><a href="About.html" class="ml-2">About</a></li>
                   </div> 
                </ul>
            </div>
                
            </div>
        </nav>
    </div>