<!DOCTYPE html>
<html>
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
        <link rel="stylesheet" href="..\static\CSS\style.css ">
    </head>
<body  class="text-purple-700 bg-white-50  ">
    
    <!--Nav Bar  class="table-auto border-collapse flex justify-center "-->
    <div class="p-4">
        <nav class="bg-purple-600 text-purple-100 border-b border-purple-100 shadow-lg p-2 rounded-lg ">
            <div class="container mx-auto">
                <div class="sm:flex justify-between">
                    <a  href="#" class=" text-lg uppercase font-bold ">Project Table</a>
                    <li class="sm:inline-block font-bold hover:bg-purple-700 rounded pr-1"><a href="#" class="ml-2">Log out</a></li>

                </div>
                
            </div>
        </nav>
    </div>

    <main class="flex justify-between">

        <div class="bg-red-300 ml-4 p-4 rounded w-60 text-center">
            <p>Courses</p>
            <ul>
                <li class="border-2 border-red-600 m-2
                           shadow-xl pl-1 pr-1
                           rounded-lg hover:bg-purple-100">
                Intro to big data</li>
                <li class="border-2 border-red-600 m-2
                           shadow-xl pl-1 pr-1
                           rounded-lg hover:bg-purple-100">
                Cosc 419</li>
                <li class="border-2 border-red-600 m-2
                           shadow-xl pl-1 pr-1
                           rounded-lg hover:bg-purple-100">
                Adetunji</li>
                <li class="border-2 border-red-600 m-2
                           shadow-xl pl-1 pr-1
                           rounded-lg hover:bg-purple-100">
                Adeosun</li>
                <li class="border-2 border-red-600 m-2
                shadow-xl pl-1 pr-1
                rounded-lg hover:bg-purple-100">
                Intro to big data</li>
                <li class="border-2 border-red-600 m-2
                            shadow-xl pl-1 pr-1
                            rounded-lg hover:bg-purple-100">
                Cosc 419</li>
                <li class="border-2 border-red-600 m-2
                            shadow-xl pl-1 pr-1
                            rounded-lg hover:bg-purple-100">
                Adetunji</li>
                <li class="border-2 border-red-600 m-2
                            shadow-xl pl-1 pr-1
                            rounded-lg hover:bg-purple-100">
                Adeosun</li>
                <li class="border-2 border-red-600 m-2
                shadow-xl pl-1 pr-1
                rounded-lg hover:bg-purple-100">
                Intro to big data</li>
                <li class="border-2 border-red-600 m-2
                            shadow-xl pl-1 pr-1
                            rounded-lg hover:bg-purple-100">
                Cosc 419</li>
                <li class="border-2 border-red-600 m-2
                            shadow-xl pl-1 pr-1
                            rounded-lg hover:bg-purple-100">
                Adetunji</li>
                <li class="border-2 border-red-600 m-2
                            shadow-xl pl-1 pr-1
                            rounded-lg hover:bg-purple-100">
                Adeosun</li>
               
            </ul>

        </div>


        <div class="table  p-2">
            <table class="w-full border">
                <tr class="bg-purple-300 border-b ">
                        <th class="p-1 text-left">DAY</th>
                        <th class="p-2">7-8</th>
                        <th class="p-2">8-9</th>
                        <th class="p-2">9-10</th>
                        <th class="p-2">11-12</th>
                        <th class="p-2">1-2</th>
                        <th class="p-2">2-4</th>
                        <th class="p-2">4-6</th>
                </tr>

                <tr class="bg-purple-100 ">
                    <td class="p-2 text-left">MONDAY</td>
                    <td class="p-2"></td> 
                    <td class="">shokoyokoto<br>
                                    Adetunji<br>
                                    cosc 104
                    
                    </td>
                    <td class="">shokoyokoto<br>
                                    Adetunji<br>
                                    cosc 104

                    </td> 
                    <td class="p-2">
                        shokoyokoto<br>
                        Adetunji<br>
                        cosc 104
                    </td>
                    <td class="p-2">
                        shokoyokoto<br>
                                    Adetunji<br>
                                    cosc 104
                    </td> 
                    <td class="p-2">
                        shokoyokoto<br>
                                    Adetunji<br>
                                    cosc 104
                    </td>
                    <td class="p-2">
                        shokoyokoto<br>
                                    Adetunji<br>
                                    cosc 104
                    </td> 
                
                    
                    
                </tr>
                
                <tr class="bg-purple-300 text-center">
                    <td class="p-2 text-left">TUESDAY</td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                </tr>
                
                <tr class="bg-purple-100 text-center">
                    <td class="p-2 text-left">WEDNESDAY</td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    
                </tr>
                
                <tr class="bg-purple-300 text-center">
                    <td class="p-2 text-left">THURSDAY</td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                
                </tr>

                <tr class="bg-purple-100 text-center">
                    <td class="p-2 text-left">FRIDAY</td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    
                </tr>
                
            </table>
        </div>

        <div class="bg-red-300 mr-4 p-4 rounded w-60 text-center">
            <p>Lecturer</p>
            <ul>
                <li class="border-2 border-red-600 m-2
                           shadow-xl pl-1 pr-1
                           rounded-lg hover:bg-purple-100">
                MR Ade</li>
                <li class="border-2 border-red-600 m-2
                           shadow-xl pl-1 pr-1
                           rounded-lg hover:bg-purple-100">
                MR Ade</li>
                <li class="border-2 border-red-600 m-2
                           shadow-xl pl-1 pr-1
                           rounded-lg hover:bg-purple-100">
                Adetunji</li>
                <li class="border-2 border-red-600 m-2
                           shadow-xl pl-1 pr-1
                           rounded-lg hover:bg-purple-100">
                Adeosun</li>
               
            </ul>
            

        </div>



</main>

</body>
</html>
    