[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "*"
crispy-tailwind = "*"
gunicorn = "*"
whitenoise = "*"
django-environ = "*"
django = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"

