{% extends 'base.html' %}
{% block content %}

<main>
    <h2 class="md:hidden font-bold font-serif text-3xl text-center mt-8">About</h2>
    <div class="md:flex justify-between mt-20 mb-32">
        
        <img src="../static/img/about.svg" width="500" height="500">

        <div class="font-sans md:mr-24 md:ml-32 pt-6 rounded-lg p-4 font-bold">
                <h2 class="hidden md:block font-bold text-3xl text-center mb-4">About</h2>
            
            <p>
                A timetable management system that curbs mismanagement and
                conflicts in class schedules for students and lecturers. 
            </p>
            <p>
                <strong>Project Table</strong> was designed to help timetable officials
                generate class schedules for students and academic staff considering necessary
                constraints.
            </p>
            <p>
                A timetable management system that curbs mismanagement and
                conflicts in class schedules for students and lecturers. 
            </p>
            <p>
                <strong>Project Table</strong> was designed to help timetable officials
                generate class schedules for students and academic staff considering necessary
                constraints.
            </p>
                
        
        
        </div>

    </div>
</main>
    
{% endblock content %}