
{% extends 'base.html' %}
    {% block content %}
    <style>
        /* .hidden{
            display: none;
        } */

        td,th{
          border: 2px solid #60a5fa;
          padding: 6px;
        }
        
        
        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px){
          table, thead, tbody, th, td, tr{
            display: block;
          }
        
          thead tr{
            position: absolute;
            top: -9999px;
            left: -9999px;
            
          }
        
          tr{ 
              border: 2px solid #60a5fa; 
              border-radius: 6px;
              
            }
            
          td{
            border:none;
            border-bottom: 2px solid #60a5fa;
            position: relative;
            padding-left: 50%;
          }
        
          td:before{
            position: absolute;
            top: 6px;
            left: 6px;
            padding-right: 10px;
            white-space: nowrap;
          }
        
          td:nth-of-type(1):before {content: "Day";}
          td:nth-of-type(2):before {content: "";}
          td:nth-of-type(3):before {content: "";}
          td:nth-of-type(4):before {content: "";}
          td:nth-of-type(5):before {content: "";}
          td:nth-of-type(6):before {content: "";}
          td:nth-of-type(7):before {content: "";}
          td:nth-of-type(8):before {content: "";}
          td:nth-of-type(9):before {content: "";}
          td:nth-of-type(10):before {content: "";}
          td:nth-of-type(11):before {content: "";}
        }
          </style>
<main class="">
    <div class=" text-black font-serif px-2 py-4 mb-24"> 
        <div class="md:mx-14" style="overflow-x:auto;">
            <div class="md:flex">
                
                <div class="mx-2 mr-8">
                    <button class="hidden md:flex items-center daysbtn rounded p-1 mr-2 mb-2 bg-blue-500 text-white relative  ">
                        <span class="mb-1  text-sm">Days</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>
                        <div class="dropdays text-right md:text-left text-sm bg-blue-400 rounded mt-1 p-2 flex flex-col hidden  w-max absolute">
                            <ul class="space-y-2">
                            <li><button class="p-1  rounded hover:bg-blue-500" onClick='viewmonTable()'>Monday</button></li>
                            <li><button class="p-1  rounded hover:bg-blue-500" onClick='viewtueTable()'>Tuesday</button></li>
                            <li><button class="p-1  rounded hover:bg-blue-500" onClick='viewwedTable()'>Wednesday</button></li>
                            <li><button class="p-1  rounded hover:bg-blue-500" onClick='viewthurTable()'>Thursday</button></li>
                            <li><button class="p-1  rounded hover:bg-blue-500" onClick='viewfriTable()'>Friday</button> </li>
                            </ul>
                         </div>
                   
                </div>
               
                <div class=""> 
                    <div class="md:hidden flex flex-col space-y-2 text-white font-bold font-serif">
                        <!-- <span class="bg-blue-500 rounded p-1 mobdaysbtn relative">Days</span> -->
                        <div class="mobdropdays flex text-sm mb-4 space-x-2">
                            <button class="bg-blue-500 rounded p-1" onClick='viewmonTable()'>Monday</button>
                            <button class="bg-blue-500 rounded p-1" onClick='viewtueTable()'>Tuesday</button>
                            <button class="bg-blue-500 rounded p-1" onClick='viewwedTable()'>Wednesday</button>
                            <button class="bg-blue-500 rounded p-1" onClick='viewthurTable()'>Thursday</button>
                            <button class="bg-blue-500 rounded p-1" onClick='viewfriTable()'>Friday</button>
        
                        </div>
                        
                    </div>
                            
                    <table class="w-full table-auto" id="view_monday">
                   
                        <thead>
                            <tr class="bg-blue-500 text-white">
                                
                                <th class="p-1">DAY</th>
                                <!-- <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th> -->
                                                
                            </tr>
                        <tbody>
                            
                            <tr>
                           
                                <td class="md:p-2">Monday</td>
                                
                                {% for time in monday %}
                                <td class="md:p-4">
                                  <div class="text-sm  my-1" >
                                    <label class="font-bold "> Course: 
    
                                                {{time.table.course_code}}
                                    </label>
                                    
                                </div>
                                
                            
                                <div class="text-sm my-1" >
                                    <label class="font-bold ">Venue: 
                                                {{time.table.venue_id}}
                                    </label>
                                   
                                </div> 
    
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Lecturer:
                                                {{time.table.lecturer}}
                                    
                               </div>
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Level:
                                                {{time.level}}
                                    
                               </div>
                               
                               <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Start time:
                                        {{time.table.start_time}}
                                    
                               </div>
    
                               <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">End time:
                                        {{time.table.end_time}}
                                    
                               </div>
                                    
                                </td>
                            {% endfor %}
                                {% if monday|length == 0 %}
                            <td>
                                No classes Today
                            </td>
                            
                            {% endif %}
                                         
                            </tr>
                        </tbody>
                        </thead>
                    </table>    
    
                    <table class="w-full hidden" id="view_tuesday">
                        <thead>
                            <tr class="bg-blue-500 text-white">
                                
                                <th class="p-1">DAY</th>
                                <!-- <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th> -->
                                                
                            </tr>
                        <tbody>
                            
                            <tr>
                           
                                <td class="md:p-2">Tuesday</td>
                                
                                {% for time in tuesday %}
                                <td class="md:p-4">
                                  <div class="text-sm  my-1" >
                                    <label class="font-bold "> Course: 
    
                                                {{time.table.course_code}}
                                    </label>
                                    
                                </div>
                                
                            
                                <div class="text-sm my-1" >
                                    <label class="font-bold ">Venue: 
                                                {{time.table.venue_id}}
                                    </label>
                                   
                                </div> 
    
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Lecturer:
                                                {{time.table.lecturer}}
                                    
                               </div>
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Level:
                                                {{time.level}}
                                    
                               </div>
                               
                               <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Start time:
                                        {{time.table.start_time}}
                                    
                               </div>
                               <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">End time:
                                        {{time.table.end_time}}
                                    
                               </div>
                                    
                                </td>
                            {% endfor %}
                                  {% if tuesday|length == 0 %}
                            <td>
                                No classes Today
                            </td>
                            
                            {% endif %}
                                              
                            </tr>
                        </tbody>
                        </thead>
                    </table>    
    
    
                    <table class="w-full hidden" id="view_wednesday">
                        <thead>
                            <tr class="bg-blue-500 text-white">
                                
                                <th class="p-1">DAY</th>
                                <!-- <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th> -->
                                                
                            </tr>
                        <tbody>
                            
                            <tr>
                           
                                <td class="md:p-2">Wednesday</td>
                                
                                {% for time in wednesday %}
                                <td class="md:p-4">
                                  <div class="text-sm  my-1" >
                                    <label class="font-bold "> Course: 
    
                                                {{time.table.course_code}}
                                    </label>
                                    
                                </div>
                                
                            
                                <div class="text-sm my-1" >
                                    <label class="font-bold ">Venue: 
                                                {{time.table.venue_id}}
                                    </label>
                                   
                                </div> 
    
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Lecturer:
                                                {{time.table.lecturer}}
                                    
                               </div>
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Level:
                                                {{time.level}}
                                    
                               </div>
                               
                               <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Start time:
                                        {{time.table.start_time}}
                                    
                               </div>
                                    <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">End time:
                                        {{time.table.end_time}}
                                    
                               </div>
                                </td>
                            {% endfor %}
                            {% if wednesday|length == 0 %}
                            <td>
                                No classes Today
                            </td>
                            
                            {% endif %}
                                           
                            </tr>
                        </tbody>
                        </thead>
                    </table>    
    
                    
                    <table class="w-full hidden" id="view_thursday">
                   
                        <thead>
                            <tr class="bg-blue-500 text-white">
                                
                                <th class="p-1">DAY</th>
                                <!-- <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th> -->
                                                
                            </tr>
                        <tbody>
                            
                            <tr>
                           
                                <td class="md:p-2">Thursday</td>
                                
                                {% for time in thursday %}
                                <td class="md:p-4">
                                  <div class="text-sm  my-1" >
                                    <label class="font-bold "> Course: 
    
                                                {{time.table.course_code}}
                                    </label>
                                    
                                </div>
                                
                            
                                <div class="text-sm my-1" >
                                    <label class="font-bold ">Venue: 
                                                {{time.table.venue_id}}
                                    </label>
                                   
                                </div> 
    
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Lecturer:
                                                {{time.table.lecturer}}
                                    
                               </div>
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Level:
                                                {{time.level}}
                                    
                               </div>
                               
                               <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Start time:
                                        {{time.table.start_time}}
                                    
                               </div>
    
                               <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">End time:
                                        {{time.table.end_time}}
                                    
                               </div>
                                    
                                </td>
                            {% endfor %}
    
                            {% if thursday|length == 0 %}
                            <td>
                                No classes Today
                            </td>
                            
                            {% endif %}
                                        
                            </tr>
                        </tbody>
                        </thead>
                    </table>    
    
                    
                    <table class="w-full hidden view_friday" id="view_friday">
                   
                        <thead>
                            <tr class="bg-blue-500 text-white">
                                
                                <th class="p-1">DAY</th>
                                <!-- <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th>
                                <th class="p-1"></th> -->
                                                
                            </tr>
                        <tbody>
                            
                            <tr>
                           
                                <td class="md:p-2">Friday</td>
                                
                                {% for time in friday %}
                                <td class="md:p-4">
                                  <div class="text-sm  my-1" >
                                    <label class="font-bold "> Course: 
    
                                                {{time.table.course_code}}
                                    </label>
                                    
                                </div>
                                
                            
                                <div class="text-sm my-1" >
                                    <label class="font-bold ">Venue: 
                                                {{time.table.venue_id}}
                                    </label>
                                   
                                </div> 
    
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Lecturer:
                                                {{time.table.lecturer}}
                                    
                               </div>
                                <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Level:
                                                {{time.level}}
                                    
                               </div>
                               
                               <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">Start time:
                                        {{time.table.start_time}}
                                    
                               </div>
                                
                               <div class="text-sm my-1" >
                                    
                                    <label class="font-bold ">End time:
                                        {{time.table.end_time}}
                                    
                               </div>
                                </td>
                            {% endfor %}
                                     {% if friday|length == 0 %}
                            <td>
                                No classes Today
                            </td>
                            
                            {% endif %}
                                           
                            </tr>
                        </tbody>
                        </thead>
                    </table>  
                </div>
                
            </div>
        </div>
    </div>
</main>




{% endblock content %}
     

