{% load static %}
<!DOCTYPE html>
<html>
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <script src="{% static 'js/scripts.js'%}" defer></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <style>
        .asteriskField{
        display: none;
         }
         .zoom{
              zoom:65%;
          }

          .zoom-moz{
              transform: scale(0.5,0.5);
              transform-origin: 0 0;
          }
          

        </style>
        
    </head>
<body  class="text-purple-700  bg-purple-200 ">
    
    <!--Nav Bar -->
    <div class=""> 
        <nav class="bg-purple-600 text-purple-100 w-full border-b border-purple-100 
                    shadow-lg p-2  text-sm md:text-lg font-sans">
                    <div class="flex justify-between">
                        <!-- toggle button -->
                        <button class="toggle-mobile-menu md:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                              </svg>
                        </button>  
                        <a  href="{% url 'page:home' %}"  class="text-sm uppercase md:text-lg font-bold">Project Table</a>

                        <div class="flex justify-between items-center ">
                            
                            
                            <div>

                                <ul> <!-- nav items -->
                                    <div class="hidden md:flex space-x-5 text-sm items-center">
                                        {% if not user.is_authenticated %}
                                        <div>
                                            <button class="relative menubtn">Sign Up</button>
                                                <ul class="absolute hidden flex-col bg-purple-600 p-2 text-sm space-y-4 rounded-b-lg dropdown">
                                                    <li class="px-1 pt-1 hover:bg-purple-400  rounded"><a href="{% url 'accounts:lecturersignup' %}">Staff</a> </li> 
                                                    <li class="px-1 hover:bg-purple-400  rounded"><a href="{% url 'accounts:studentsignup' %}">Student</a> </li> 
                                                </ul>
                                        </div>  
                                        <li class="hover:bg-purple-500 rounded p-1"><a href="{% url 'accounts:login' %}" >Log in</a></li> 
            
                                               
                                        </div>
                                        {% else %}
                                        <div>
                                            <button class="relative menubtn font-bold ">Logged in: {{  user.first_name }}</button>
                                                <ul class="absolute hidden flex-col bg-purple-600 p-2 text-sm space-y-4 rounded-b-lg dropdown">
                                                    <li class="px-1 pt-1 hover:bg-purple-400  rounded"><a href="{% url 'timetable:view' %}">Timetable</a> </li> 
                                                    {% if user.is_admin %}
                                                    <li class="px-1 hover:bg-purple-400  rounded"><a href="{% url 'timetable:select' %}">Create Timetable</a> </li>
                                                    {% endif %}
                                                    <li class="px-1 hover:bg-purple-400  rounded"><a href="{% url 'accounts:delete' %}">delete account</a> </li>
                                                    <li class="px-1 hover:bg-purple-400  rounded"><a href="{% url 'accounts:password_change' %}">Change Password</a> </li>
                                                    <li class="px-1 hover:bg-purple-400  rounded"><a href="{% url 'accounts:logout' %}">Logout</a> </li> 
                                                </ul>
                                        </div>  
                                        {% endif %}
                                    
                            
            
                                    <!-- toggle button -->
                                    <div class="md:hidden flex items-center">
                                        <button class="toggle-mobile-menu">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                                              </svg>
                                        </button>  
                                    </div>
                                </ul>

                            </div>
                       
                        </div>
                    </div>
                    
                    
               
                <!-- mobile menu -->
                 
                 <div class="hidden mobile-menu md:hidden">
                     {% if not user.is_authenticated %}
                    <a href="{% url 'accounts:login' %}" class="block  p-2 rounded text-sm hover:bg-purple-500">Login</a>
                    <a href="{% url 'accounts:studentsignup' %}" class="block p-2 rounded text-sm hover:bg-purple-500">Register Student</a>
                    <a href="{% url 'accounts:lecturersignup' %}" class="block p-2 rounded text-sm hover:bg-purple-500">Register Lecturer</a>
                        {%else%}
                        <a href="{% url 'timetable:view' %}" class="block  p-2 rounded text-sm hover:bg-purple-500">Timetable</a>
                    <a href="{% url 'timetable:select' %}" class="block p-2 rounded text-sm hover:bg-purple-500">Create Table</a>
                    <a href="{% url 'accounts:password_change' %}" class="block p-2 rounded text-sm hover:bg-purple-500">Change Password</a>
                    <a href="{% url 'accounts:logout' %}" class="block p-2 rounded text-sm hover:bg-purple-500">Logout</a>
                    {% endif %}
                    <a href="{% url 'page:contact' %}"class="block p-2 rounded text-sm hover:bg-purple-500">Contact Us</a>
                    <a href="{% url 'page:about' %}"  class="block p-2 rounded text-sm hover:bg-purple-500">About</a>
                </div>
        </nav>
    </div>
               

    {% block content %}
    {% endblock content %}

<footer class="font-bold text-purple-100 bg-purple-600 
                p-2 w-full flex justify-between"
                style="position:fixed; bottom:0;"              > 
                    <div>
                        Project Table 2022
                    </div>
                    <div class="space-x-4">
                        <a href="{% url 'page:about' %}">About</a>
                        <a href="{% url 'page:contact' %}">Contact Us</a>
                    </div>
                    
                   
                </footer>

   

    
</body>
    
</html>