{% extends 'base.html' %}

    {% block content %}

    <form>

            <div>
                <label for="department" class="mb-2">Department</label>
                <select  name="department" required
                class="w-full rounded p-2 outline-none border-2 border-purple-200 focus:border-purple-400 mb-2">
                <option value="SE">Software Engineering</option>        
                <option value="CS">Computer Science</option> 
                <option value="IT">Information Technology</option>
                <option value="CIS">Computer Information Science</option>      
                </select> 
            </div>
    
            <div>
              <label for="level" class="mb-2">Year</label>
              <select  name="level" required
              class="w-full rounded mb-2 p-2 outline-none border-2 border-purple-200 focus:border-purple-400">          
              <option value="1">Year 1</option>        
              <option value="2">Year 2</option> 
              <option value="3">Year 3</option>
              <option value="4">Year 4</option>      
              </select>
            </div>

            <button class="font-bold bg-purple-400  text-gray-100 rounded p-2 hover:bg-blue-500">Create</button>

    </form>

    


{% endblock content %}