
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class=" text-black font-sans"> 
        <div class="mx-14" style="overflow-x:auto;">
            <div class="flex ">

                <div class="mx-2 mt-4 mr-8">
                    <button class="daysbtn rounded p-1 bg-purple-500 text-white relative flex items-center">
                        <span class="mb-1 text-sm">Days</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>
                        <div class="dropdays text-sm bg-purple-400 rounded mt-1 p-2 flex flex-col hidden  w-max absolute">
                            <ul class="space-y-2">
                            <li><button class="p-1  rounded hover:bg-purple-500" onClick='monTable()'>Monday</button></li>
                            <li><button class="p-1  rounded hover:bg-purple-500" onClick='tueTable()'>Tuesday</button></li>
                            <li><button class="p-1  rounded hover:bg-purple-500" onClick='wedTable()'>Wednesday</button></li>
                            <li><button class="p-1  rounded hover:bg-purple-500" onClick='thurTable()'>Thursday</button></li>
                            <li><button class="p-1  rounded hover:bg-purple-500" onClick='friTable()'>Friday</button> </li>
                            </ul>
                            
            
                        </div>
                </div>

                <form class="ml-2 mr-14 mt-4 text-sm zoom" method="post" action="{% url 'timetable:edit' department=department level=level %}">
                    {% csrf_token %}
                    {{ form | as_crispy_errors }}
        
                    <table class="border-2 border-purple-500 bg-purple-500 mr-2 rounded" 
                                  style="width:100%" id='monday'>
                    
                        <!-- 1 hour classes -->
                       
                            <tr class="bg-purple-500 border-2 border-purple-500 text-white">
                                    <th class="p-1">DAY</th>
                                    <th class="p-1" >7-8</th>
                                    <th class="p-1">8-9</th>
                                    <th class="p-1">9-10</th>
                                    <th class="p-1">10-11</th>
                                    <th class="p-1">11-12</th>
                                    <th class="p-1">12-1</th>
                                    <th class="p-1">2-3</th>
                                    <th class="p-1">3-4</th>
                                    <th class="p-1">4-5</th>
                                    <th class="p-1">5-6</th>
                                    
                            </tr>
            
                        <tr class="bg-purple-100">
                            <td class="p-2 px-6 border-purple-500 border-2">Monday</td>
                            <td  class="px-6 border-purple-500 border-2 py-2">
                                <div class="text-sm  my-1" >
                                    {{ form.monday_course_7_8 | as_crispy_field}}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.monday_lecturer_7_8 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.monday_venue_7_8 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class="px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    {{ form.monday_course_8_9 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                   {{ form.monday_lecturer_8_9 | as_crispy_field }}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.monday_venue_8_9 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class="px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                   {{ form.monday_course_9_10 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                   {{ form.monday_lecturer_9_10 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.monday_venue_9_10 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    {{ form.monday_course_10_11 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.monday_lecturer_10_11 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.monday_venue_10_11 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                   {{ form.monday_course_11_12 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.monday_lecturer_11_12 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.monday_venue_11_12 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    {{ form.monday_course_12_1 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.monday_lecturer_12_1 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.monday_venue_12_1 | as_crispy_field }}
                                </div>       
                            </td>
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    
                                    {{ form.monday_course_2_3 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.monday_lecturer_2_3 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.monday_venue_2_3 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    
                                    {{ form.monday_course_3_4 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.monday_lecturer_3_4 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.monday_venue_3_4 | as_crispy_field }}
                                </div>       
                            </td>
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                   
                                    {{ form.monday_course_4_5 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.monday_lecturer_4_5 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.monday_venue_4_5 | as_crispy_field }}
                                </div>       
                            </td>
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    
                                    {{ form.monday_course_5_6 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                   {{ form.monday_lecturer_5_6 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.monday_venue_5_6 | as_crispy_field }}
                                </div>       
                            </td>
        
                        </tr>
        
                        
                    </table>
        
                    <table class="border-2 border-purple-500 bg-purple-500 mr-2 hidden rounded" id='tuesday'>
                    
                        <!-- 1 hour classes -->
                       
                            <tr class="bg-purple-500 border-2 border-purple-500 text-white">
                                    <th class="p-1">DAY</th>
                                    <th class="p-1">7-8</th>
                                    <th class="p-1">8-9</th>
                                    <th class="p-1">9-10</th>
                                    <th class="p-1">10-11</th>
                                    <th class="p-1">11-12</th>
                                    <th class="p-1">12-1</th>
                                    <th class="p-1">2-3</th>
                                    <th class="p-1">3-4</th>
                                    <th class="p-1">4-5</th>
                                    <th class="p-1">5-6</th>
                                    
                            </tr>
            
                        <tr class="bg-purple-100">
                            <td class="p-2 px-6 border-purple-500 border-2" >Tuesday</td>
                            <td  class=" px-6 border-purple-500 border-2 py-2" >
                                <div class="text-sm  my-1" >
                                    {{ form.tuesday_course_7_8 | as_crispy_field}}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_lecturer_7_8 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.tuesday_venue_7_8 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class="px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    {{ form.tuesday_course_8_9 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                   {{ form.tuesday_lecturer_8_9 | as_crispy_field }}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_venue_8_9 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class="px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                   {{ form.tuesday_course_9_10 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                   {{ form.tuesday_lecturer_9_10 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_venue_9_10 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    {{ form.tuesday_course_10_11 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_lecturer_10_11 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.tuesday_venue_10_11 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                   {{ form.tuesday_course_11_12 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_lecturer_11_12 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_venue_11_12 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    {{ form.tuesday_course_12_1 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_lecturer_12_1 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_venue_12_1 | as_crispy_field }}
                                </div>       
                            </td>
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    
                                    {{ form.tuesday_course_2_3 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_lecturer_2_3 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.tuesday_venue_2_3 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    
                                    {{ form.tuesday_course_3_4 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_lecturer_3_4 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.tuesday_venue_3_4 | as_crispy_field }}
                                </div>       
                            </td>
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                   
                                    {{ form.tuesday_course_4_5 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_lecturer_4_5 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.tuesday_venue_4_5 | as_crispy_field }}
                                </div>       
                            </td>
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    
                                    {{ form.tuesday_course_5_6 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                   {{ form.tuesday_lecturer_5_6 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.tuesday_venue_5_6 | as_crispy_field }}
                                </div>       
                            </td>
        
                        </tr>
        
                        
                    </table>
                      <table class="border-2 border-purple-500 bg-purple-500 mr-2 hidden rounded" id='wednesday'>
                    
                        <!-- 1 hour classes -->
                       
                            <tr class="bg-purple-500 border-2 border-purple-500 text-white">
                                    <th class="p-1">DAY</th>
                                    <th class="p-1">7-8</th>
                                    <th class="p-1">8-9</th>
                                    <th class="p-1">9-10</th>
                                    <th class="p-1">10-11</th>
                                    <th class="p-1">11-12</th>
                                    <th class="p-1">12-1</th>
                                    <th class="p-1">2-3</th>
                                    <th class="p-1">3-4</th>
                                    <th class="p-1">4-5</th>
                                    <th class="p-1">5-6</th>
                                    
                            </tr>
            
                        <tr class="bg-purple-100">
                            <td class="p-2 px-6 border-purple-500 border-2" >Wednesday</td>
                            <td  class=" px-6 border-purple-500 border-2 py-2" >
                                <div class="text-sm  my-1" >
                                    {{ form.wednesday_course_7_8 | as_crispy_field}}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_lecturer_7_8 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.wednesday_venue_7_8 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class="px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    {{ form.wednesday_course_8_9 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                   {{ form.wednesday_lecturer_8_9 | as_crispy_field }}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_venue_8_9 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class="px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                   {{ form.wednesday_course_9_10 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                   {{ form.wednesday_lecturer_9_10 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_venue_9_10 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    {{ form.wednesday_course_10_11 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_lecturer_10_11 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.wednesday_venue_10_11 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                   {{ form.wednesday_course_11_12 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_lecturer_11_12 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_venue_11_12 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    {{ form.wednesday_course_12_1 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_lecturer_12_1 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_venue_12_1 | as_crispy_field }}
                                </div>       
                            </td>
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    
                                    {{ form.wednesday_course_2_3 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_lecturer_2_3 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.wednesday_venue_2_3 | as_crispy_field }}
                                </div>       
                            </td> 
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    
                                    {{ form.wednesday_course_3_4 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_lecturer_3_4 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.wednesday_venue_3_4 | as_crispy_field }}
                                </div>       
                            </td>
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                   
                                    {{ form.wednesday_course_4_5 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_lecturer_4_5 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                    {{ form.wednesday_venue_4_5 | as_crispy_field }}
                                </div>       
                            </td>
            
                            <td  class=" px-6 border-purple-500 border-2" >
                                
                                <div class="text-sm  my-1" >
                                    
                                    {{ form.wednesday_course_5_6 | as_crispy_field }}
                                </div>
                                <div class="text-sm my-1" >
                                   {{ form.wednesday_lecturer_5_6 | as_crispy_field}}
                               </div>
                            
                                <div class="text-sm my-1" >
                                   {{ form.wednesday_venue_5_6 | as_crispy_field }}
                                </div>       
                            </td>
        
                        </tr>
        
                        
                    </table>
        
                    <table class="border-2 border-purple-500 bg-purple-500 mr-2 hidden rounded" id='thursday'>
                    
                        <!-- 1 hour classes -->
                        <tr class="bg-purple-500 border-2 border-purple-500 text-white">
                            <th class="p-1">DAY</th>
                            <th class="p-1">7-8</th>
                            <th class="p-1">8-9</th>
                            <th class="p-1">9-10</th>
                            <th class="p-1">10-11</th>
                            <th class="p-1">11-12</th>
                            <th class="p-1">12-1</th>
                            <th class="p-1">2-3</th>
                            <th class="p-1">3-4</th>
                            <th class="p-1">4-5</th>
                            <th class="p-1">5-6</th>
                            
                    </tr>
    
                <tr class="bg-purple-100">
                    <td class="p-2 px-6 border-purple-500 border-2" >Thursday</td>
                    <td  class=" px-6 border-purple-500 border-2 py-2" >
                        <div class="text-sm  my-1" >
                            {{ form.thursday_course_7_8 | as_crispy_field}}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.thursday_lecturer_7_8 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.thursday_venue_7_8 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class="px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            {{ form.thursday_course_8_9 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                           {{ form.thursday_lecturer_8_9 | as_crispy_field }}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.thursday_venue_8_9 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class="px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                           {{ form.thursday_course_9_10 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                           {{ form.thursday_lecturer_9_10 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.thursday_venue_9_10 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            {{ form.thursday_course_10_11 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.thursday_lecturer_10_11 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.thursday_venue_10_11 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                           {{ form.thursday_course_11_12 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.thursday_lecturer_11_12 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.thursday_venue_11_12 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            {{ form.thursday_course_12_1 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.thursday_lecturer_12_1 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.thursday_venue_12_1 | as_crispy_field }}
                        </div>       
                    </td>
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            
                            {{ form.thursday_course_2_3 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.thursday_lecturer_2_3 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.thursday_venue_2_3 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            
                            {{ form.thursday_course_3_4 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.thursday_lecturer_3_4 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.thursday_venue_3_4 | as_crispy_field }}
                        </div>       
                    </td>
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                           
                            {{ form.thursday_course_4_5 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.thursday_lecturer_4_5 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.thursday_venue_4_5 | as_crispy_field }}
                        </div>       
                    </td>
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            
                            {{ form.thursday_course_5_6 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                           {{ form.thursday_lecturer_5_6 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.thursday_venue_5_6 | as_crispy_field }}
                        </div>       
                    </td>

                </tr>
        
                        
                    </table>
        
                    <table class="border-2 border-purple-500 bg-purple-500 mr-2 hidden rounded" id='friday'>
                    
                        <!-- 1 hour classes -->
                       
                        <tr class="bg-purple-500 border-2 border-purple-500 text-white">
                            <th class="p-1">DAY</th>
                            <th class="p-1">7-8</th>
                            <th class="p-1">8-9</th>
                            <th class="p-1">9-10</th>
                            <th class="p-1">10-11</th>
                            <th class="p-1">11-12</th>
                            <th class="p-1">12-1</th>
                            <th class="p-1">2-3</th>
                            <th class="p-1">3-4</th>
                            <th class="p-1">4-5</th>
                            <th class="p-1">5-6</th>
                            
                    </tr>
    
                <tr class="bg-purple-100">
                    <td class="p-2 px-6 border-purple-500 border-2" >Friday</td>
                    <td  class=" px-6 border-purple-500 border-2 py-2" >
                        <div class="text-sm  my-1" >
                            {{ form.friday_course_7_8 | as_crispy_field}}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.friday_lecturer_7_8 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.friday_venue_7_8 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class="px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            {{ form.friday_course_8_9 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                           {{ form.friday_lecturer_8_9 | as_crispy_field }}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.friday_venue_8_9 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class="px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                           {{ form.friday_course_9_10 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                           {{ form.friday_lecturer_9_10 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.friday_venue_9_10 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            {{ form.friday_course_10_11 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.friday_lecturer_10_11 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.friday_venue_10_11 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                           {{ form.friday_course_11_12 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.friday_lecturer_11_12 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.friday_venue_11_12 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            {{ form.friday_course_12_1 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.friday_lecturer_12_1 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.friday_venue_12_1 | as_crispy_field }}
                        </div>       
                    </td>
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            
                            {{ form.friday_course_2_3 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.friday_lecturer_2_3 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.friday_venue_2_3 | as_crispy_field }}
                        </div>       
                    </td> 
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            
                            {{ form.friday_course_3_4 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.friday_lecturer_3_4 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.friday_venue_3_4 | as_crispy_field }}
                        </div>       
                    </td>
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                           
                            {{ form.friday_course_4_5 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                            {{ form.friday_lecturer_4_5 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                            {{ form.friday_venue_4_5 | as_crispy_field }}
                        </div>       
                    </td>
    
                    <td  class=" px-6 border-purple-500 border-2" >
                        
                        <div class="text-sm  my-1" >
                            
                            {{ form.friday_course_5_6 | as_crispy_field }}
                        </div>
                        <div class="text-sm my-1" >
                           {{ form.friday_lecturer_5_6 | as_crispy_field}}
                       </div>
                    
                        <div class="text-sm my-1" >
                           {{ form.friday_venue_5_6 | as_crispy_field }}
                        </div>       
                    </td>

                </tr>
        
                        
                    </table>
                   
                   
                
                </div>
               <div class="text-right mx-14 mt-4 font-sans">
                <button type="submit" class="bg-purple-500 rounded font-bold text-sm p-2 text-white hover:bg-purple-600">
                    Submit
                </button>
            </div>
            </form> 
            </div>
            
           

   
    
    <!-- Course, Lecturer and venue list -->

    <div class="bg-purple-500 p-2 text-sm mb-36 mt-16 mx-10 rounded" style="overflow-x:auto;">    

    <table>

        <tr>
            <th class="text-left pr-4 pb-4">Courses</th>
            {% for course in courses %}
            <td><span draggable="true" ondragstart="drag(event)" id="{{course.course_code}}" class="border-2 px-2 rounded border-purple-300">{{course.course_code}}</span></td>
            {% endfor %}
        </tr>

        <tr>
            <th class="text-left pb-4">Lecturer</th>
            {% for lecturer in lecturers %}
        <td><span draggable="true" ondragstart="drag(event)" id="{{lecturer.initial}}" class="border-2 px-2 rounded border-purple-300 mb-1"> {{lecturer.initial}} </span></td>
           {% endfor %} 
        </tr>

        <tr>
            <th class="text-left">Venue</th>
            {% for venue in venues %}
            <td><span draggable="true" ondragstart="drag(event)" id="{{venue.name}}" class="border-2 px-2 rounded border-purple-300">{{venue.name}}</span></td>
            {% endfor %}
        </tr>

            
    </table>
</div>






{% endblock content %}