{% extends 'base.html' %}

    {% block content %}
   <main class="">


            <div class="hidden md:flex justify-between font-serif  md:mt-14 space-x-1  md:mx-6">
                
                <div class="bg-purple-500 w-full md:w-1/3 py-2 px-1 flex justify-center rounded-t">
                    <img src="../static/img/welcome.svg" class="h-20 ">
                    <span class="text-white ml-4">
                        
                    </span>
        
                </div>
                <div class="bg-purple-500 w-full md:w-1/3 py-2 px-1 flex justify-center rounded-t">
                    <img src="../static/img/schedule.svg" class="h-20 ">
                    
        
                </div>
                <div class="bg-purple-500 w-full md:w-1/3 py-2 px-1 flex justify-center rounded-t">
                    <img src="../static/img/no_time.svg" class="h-24 ">
        
                </div>
        
           
            </div>

            <div class="md:mx-6 font-serif relative"> 
                <div class="w-full h-full bg-purple-600 opacity-50 absolute top-0 left-0"></div>
                <div class="flex absolute h-full w-full top-0 left-0 justify-center items-center flex-col">
                    <span class="text-white text-lg md:text-6xl text-2xl font-bold pb-4"> Welcome To Project Table<br> </span>
                    <p class="text-white text-lg">Easily Access Your Schedule...</p>
                    
                </div>
                <img src="../static/img/project_table2.jpg" class="md:h-64 h-96 w-full">
            </div>
<!-- Mobile -->
            <div class="md:hidden flex justify-between font-serif mt-6 md:mt-2 space-x-1">
                
                <div class="bg-purple-500 w-full md:w-1/3 py-2 px-1 flex justify-center rounded-b">
                    <img src="../static/img/welcome.svg" class="h-20 ">
                    <span class="text-white ml-4">
                        
                    </span>
        
                </div>
                <div class="bg-purple-500 w-full md:w-1/3 py-2 px-1 flex justify-center rounded-b">
                    <img src="../static/img/schedule.svg" class="h-20 ">
                    
        
                </div>
                <div class="bg-purple-500 w-full md:w-1/3 py-2 px-1 flex justify-center rounded-b">
                    <img src="../static/img/no_time.svg" class="h-24 ">
        
                </div>
        
           
            </div>

            <div class=" md:flex justify-between mt-2 md:mt-0 font-serif md:space-x-1 space-y-4 rounded md:border-b md:space-y-0 mb-14 md:mx-6">
                
                <div class="font-sans bg-purple-500 text-xs md:text-sm  w-full md:w-1/3 py-2 md:px-1 flex justify-center rounded-b">
                    
                    <span class="text-white p-1">
                        When you <strong>create an account</strong>, you have access to Project Table's Features<br>
                        Project Table was designed for you to easily access user specific schedules- Class timetable for
                        your level and department!
                            
                    </span>
                </div>
                <div class="font-sans bg-purple-500 text-xs md:text-sm w-full md:w-1/3 py-2 md:px-1 flex justify-center rounded-b">
                    <span class="text-white p-1">
                        Log into your Project Table account and view your timetable.<br>
                        Project Table carefully organizes your data and presents only what complies with your data. 
                    </span>
        
                </div>
                <div class="font-sans bg-purple-500 text-xs md:text-sm w-full md:w-1/3 py-2 md:px-1 flex justify-center rounded-b">
                    <span class="text-white p-1">
                        Follow up with your timetable as Project Table is designed to help you be on time.

                    </span>
        
                </div>
        
           
            </div>



            


            

               


            <!--Description-->
            <!-- <div class="pt-10 font-serif"> 
                <div class="bg-purple-200 px-5 py-5 rounded-lg">
                    <div class="bg-purple-300 px-12 py-5 rounded-xl">
                        <span class="text-lg md:text-2xl  font-bold pb-4"> Access Your Schools Timetable Easily<br> </span>
                        <span class ="text-sm md:text-xl py-px">
                            Using database technologies, we store your timetable for you
                            to seamlessly access and use.<br>
                        </span>
                      
                </div>

                        <div class="bg-purple-300 px-12 py-5 rounded-xl mt-6">
                            <span class="text-lg md:text-2xl font-bold pb-4">Create your personal Timeatble<br> </span>
                            <span class ="text-sm md:text-xl  py-px">
                               You can now create your personalised timetables<br>
                                Easily manage your time properly.<br>
                            </span>
                    </div>

                    <div class="bg-purple-300 px-12 py-5 rounded-xl mt-6">
                        <span class="text-lg md:text-2xl font-bold pb-4">Receive Notifications<br> </span>
                        <span class ="text-sm md:text-xl  py-px">
                           Sign up with your email address to receive reminders<br>
                           Easy access schedule, Let's help you be on time.<br>
                        </span>
                </div>
                            
                              
                           

                </div>
                    
                  
               
                   
                   
                </div> -->
            </main>    
        
{% endblock content %}