{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block content %}

    <main class="min-h-screen  flex items-center justify-center font-serif text-gray-500">
      <div class="bg-blue-100 mx-4 p-8 rounded shadow-2xl w-full md:w-1/3">
        <form method="post" action="{% url 'timetable:select' %}">
          {% csrf_token %}

                <div>
                    {{ form.department | as_crispy_field }}
                </div>
        
                <div>
                  {{ form.level | as_crispy_field }}
                </div>
                <div>
                  {{ form.action | as_crispy_field }}
                </div>

                <button type="submit" class="font-bold text-gray-100 rounded p-2 bg-blue-500">Submit</button>

        </form>
       </div>
    </main>
    


{% endblock content %}