{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block content %}

    <main class="min-h-screen  flex items-center justify-center font-serif text-gray-500">
    <form method="post" action="{% url 'timetable:select' %}">
      {% csrf_token %}

            <div>
                {{ form.department | as_crispy_field }}
            </div>
    
            <div>
              {{ form.level | as_crispy_field }}
            </div>
             <div>
              {{ form.action | as_crispy_field }}
            </div>

            <button type="submit" class="font-bold bg-purple-400  text-gray-100 rounded p-2 hover:bg-blue-500">Submit</button>

    </form>
    </main>
    


{% endblock content %}