{% extends 'base.html' %}
    {% body content %}
    <main class="px-20 py-3 ">
        <p class="font-bold text-2xl">Welcome!</p>

        <div class="table w-full p-2">
            <table class="w-full border">
                <tr class="bg-purple-300 border-b ">
                        <th class="p-2">Course</th>
                        <th class="p-2">Time</th>
                        <th class="p-2">Venue</th>  
                        <th class="p-2">Lecturer</th>    
                </tr>

                <tr class="bg-purple-100 text-center">
                    <td class="p-2">SENG 305</td>
                    <td class="p-2">9-11</td> 
                    <td class="p-2">E102</td>
                    <td class="p-2">MR. Man</td>
                </tr>
                
                <tr class="bg-purple-300 text-center">
                    <td class="p-2">COSC 335</td>
                    <td class="p-2">12-1</td> 
                    <td class="p-2">RM 7</td>
                    <td class="p-2">MR. Man</td>
                </tr>
                
                <tr class="bg-purple-100 text-center">
                    <td class="p-2">GEDS 204</td>
                    <td class="p-2">2-4</td> 
                    <td class="p-2">WRA</td>
                    <td class="p-2">MR. Man</td>
                </tr>
                
                <tr class="bg-purple-300 text-center">
                    <td class="p-2">COSC 219</td>
                    <td class="p-2">4-6</td> 
                    <td class="p-2">CIT</td>
                    <td class="p-2">MR. Man</td>
                </tr>

               
                
            </table>
        </div>

        <div class="table w-full p-2">
            <table class="w-full border md:bg-red-500">
                <tr class="bg-purple-300 border-b ">
                        <th class="p-1">DAY</th>
                        <th class="p-2">7-8</th>
                        <th class="p-2">8-9</th>
                        <th class="p-2">9-10</th>
                        <th class="p-2">11-12</th>
                        <th class="p-2">1-2</th>
                        <th class="p-2">2-4</th>
                        <th class="p-2">4-6</th>
                </tr>

                <tr class="bg-purple-100 text-center">
                    <td class="p-2">MONDAY</td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                   
                    
                    
                </tr>
                
                <tr class="bg-purple-300 text-center">
                    <td class="p-2">TUESDAY</td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                </tr>
                
                <tr class="bg-purple-100 text-center">
                    <td class="p-2">WEDNESDAY</td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    
                </tr>
                
                <tr class="bg-purple-300 text-center">
                    <td class="p-2">THURSDAY</td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                   
                </tr>

                <tr class="bg-purple-100 text-center">
                    <td class="p-2">FRIDAY</td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    <td class="p-2"></td>
                    <td class="p-2"></td> 
                    
                </tr>
                
            </table>
        </div>



    </main>

{% endblock content %}
    